@import '../../styles/zIndex';

.rotationCurtain {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: $zI_version - 1;
}

@media only screen and (orientation: landscape) and (max-width: 896px) and (min-aspect-ratio: 3/2) {
  .rotationCurtain {
    display: flex;
  }
}

.description {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
