.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  margin-top: 100px;

  &.smartphone {
    margin-top: 56px;

    &.landscape {
      margin-top: 40px;
    }
  }
}
