.drawer {
  width: 330px;
  height: 150px;
  border-radius: 6px;
  box-shadow: 0px -4px 12px rgba(11, 11, 13, 0.48);
  background-color: rgba(41, 41, 48, 0.98);
  display: flex;
  justify-content: center;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .buttonContainer {
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &.smartphones {
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
