@import '../../../styles/_zIndex.scss';

.backdropWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $zI_modal;

  .modalWrapper {
    position: relative;
    box-shadow: 0px 0px 12px rgba(11, 11, 13, 0.48);
    border-radius: 12px;
    .closeButton {
      position: absolute;
      right: 0;
      transform: translate(50%, -50%);
    }

    &.mobile {
      position: absolute;
      bottom: 0;

      .closeButton {
        transform: none;
        top: 5px;
        right: 5px;
      }

      &.tablet {
        bottom: 32px;
      }

      &.landscape {
        max-height: 100vh;
      }
    }
  }
}
