.switch {
  position: relative;
  width: 42px;
  height: 24px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s;
  cursor: pointer;

  .switchHandler {
    box-sizing: content-box;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid;
    transition: left 0.3s;
    left: 0;
    &.active {
      left: calc(100% - 24px);
    }
  }
}
