$breakpoints: (
  'mobileSmall': (
    max-width: 320px,
  ),
  'mobile': (
    max-width: 600px,
  ),
  'tablet': (
    max-width: 1024px,
  ),
) !default;

@mixin rwd($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin videoRwd {
  width: 280px !important;
  height: 158px !important;
  @include rwd('mobile') {
    width: 112px !important;
    height: 200px !important;
  }

  @include rwd('mobileSmall') {
    width: 112px !important;
    height: 200px !important;
  }

  @include rwd('tablet') {
    width: 135px !important;
    height: 240px !important;
  }

  @media only screen and (orientation: landscape) {
    @include rwd('mobile') {
      width: 200px !important;
      height: 112px !important;
    }

    @include rwd('mobileSmall') {
      width: 200px !important;
      height: 112px !important;
    }

    @include rwd('tablet') {
      width: 240px !important;
      height: 135px !important;
    }
  }
}
